* {
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: letters;
    src: url(./font/letters.ttf);
  }

body{
    background: white;
    position: relative;
    font-family: letters, sans-serif;
}

/*** HEADER ***/

#header {
    position: static;
    top: 0;
    left:0;
    padding: 0;
    margin:0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#bhContainer {
    position: relative;
    left: 0;
    padding: 0;
    margin: 0;
}

#bh {
    position: relative;
    left: 0;
    z-index: -1;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: auto;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 20vw;
}

#text {
    font-size: 1em;
}

/*** NAVIGATION ***/

#mainNav {
    padding: 0%;
    background: rgb(41, 41, 41);
    overflow: hidden;
}

@media (min-width: 992px){
    .navbar-nav li {
        margin-left : 2em;
        margin-right : 2em;
        white-space: nowrap;
    }
}

#mainNav .nav-link {
    font-size: 2em;
    color: white;
    letter-spacing: .15em;
    font-family: letters;
}

#mainNav .nav-link:hover {
    color: #FFCF30;
}


/*** FACILITIES ***/

#facilities {
    margin: 7em 0 auto 0;
    text-align: center;
}

#facilities p {
    font-size: 1.4em;
}

.card-body {
    box-shadow: 0 0 20px 5px rgb(131, 131, 131);
    background-color: white;
}

.card-body a {
    color: #0c7f90;
    font-size: 1.3em;
    margin-top: auto;
    font-weight: 600;
}

.card-body a:hover {
    color: #63a6b0;
    font-size: 1.5em;
}

/*** ABOUT US ***/


.aboutus {
    margin-top: 7em;
    color: black;
}
.teampic {
    box-shadow: 0 0 20px 5px rgb(131, 131, 131);
    position: relative;
}

.text-justify {
    font-size: 2em;
    line-height: 1.2;
}

/*** BEES IMG ***/

.bees {
    padding-top: 3em;
    height: 20vw;
}

/*** THE BUZZ ***/
h2 {
    font-size: 2em;
}
.words {
    font-size: 2em;
    text-align: center;
    padding-top: 3em;
}
a {
    color: rgb(25, 230, 25);
}
a:hover{
    color: rgb(4, 184, 4);
}
/*** FACTS IMG ***/

.honeyfacts {
    padding-top: 5em;
    padding-bottom: 5em;
    height: 60vw;
}

/*** TOURISM ***/

.tourism1 {
    margin-top: 5em;
}

.h1main {
    text-align: center;
    letter-spacing: .09em;
    padding-bottom: .5em;
    font-size: 3em;
    font-weight: bold;
}

.tourism1 p {
    text-align: center;
    padding-bottom: 1.3em;
    font-size: 2em;
}

.abbey-img {
    padding-bottom: 2em;
}
.walks-img {
    padding-bottom: 2em;
}
.william-img {
    padding-bottom: 2em;
}


/*** FOOTER ***/

.footer-img {
    width: 100%;
    padding-top: 10em;
    margin: 0%;
    height: auto;
}

footer {
    margin-top: 0;
    padding-top: 2em;
    text-align: center;
    overflow: hidden;
    background: rgb(41, 41, 41);
    color: #ffffff;
}

.wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
}

.newsletter{
	max-width: 450px;
	width: 100%;
	position: relative;
}

.newsletter .input{
	width: 100%;
	padding: 15px 50px 15px 20px;
	border-radius: 5px;
	border: none;
}

.newsletter .btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
	background: #FFCF30;
	padding: 7px 18px;
	border-radius: 25px;
	color: #fff;
    cursor: pointer;
    letter-spacing: .2em;
    font-weight: bold;
}

/*** SOCIAL MEDIA ICONS ***/

.social-media {
    padding-top: 1em;
}

.h3s {
    letter-spacing: .04em;
    font-size: 2em;
}

.ps {
    letter-spacing: .02em;
    font-size: 1.5em;
}

.social-media a .icon1 {
    background: #3B5998;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.social-media a .icon2 {
    background:#E1306C;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.social-media a .icon3 {
    background: #1DA1F2;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.social-media a .icon4 {
    background: #FF0000;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.social-media a i {
    font-size: 1.5em;
    color: white;
    padding: .34em .23em;
}

.info {
    padding-top: 2em;
}
.number a {
    color: #FFCF30;
}
/*** MEDIA QUERIES ***/

@media (max-width: 992px){
    #facilities p {
        line-height: 1.6;
    }
    #facilities h2 {
        margin: auto;
        white-space: nowrap;
        font-size: 2em;
    }
    .honeyfacts {
        height: 100vw;
        padding: 5em 0 0 0;
        margin: 0%;
    }
    .bees {
        width: 60vw;
        height: 20vh;
    }
    .words {
        padding-top: 2em;
    }

}

@media (max-width: 800px){
    #bh {
        height: 30vh;
    }
    #logo {
        height: auto;
        width: 25vw;
    }
}